.card {
  padding: 20px;
  border-radius: 16px;
  background: var(--card);
  border: 1px solid var(--border);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.highlight {
  background: linear-gradient(135deg, var(--primary), var(--color-primary-hover));
  color: white;
}

.title {
  font-size: 14px;
  opacity: 0.8;
}

.value {
  font-size: 28px;
  font-weight: 700;
}

.change {
  font-size: 13px;
}

.positive {
  color: var(--color-green-500);
}

.negative {
  color: var(--color-red-500);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  padding: 5px;
  border-radius: 6px;
  border: none;

  background: transparent;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    background: var(--background);
  }
}
